*{
    margin:0px;
    padding:0px;
}
h1{
  background-color:  rgb(137, 108, 3);
  color:black;
  height: 5rem;
  line-height:5rem;
  text-align: center;
}

.choice{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-self: center;
}
.choice:hover{
    background-color: black;
    size: 30px;
    cursor: pointer;          
} 

img{
 height: 130px;
 width: 130px;
 object-fit: cover;
 border: radius 100%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#userscore,#compscore{
    font-size: 2rem;
}    
.messagecontainer{
    margin-top: 5rem;
    justify-content: center;        
    display: flex;          
}

#msg{
    background-color: rgb(159, 234, 21);
    color: black;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
